[Unit]
Description=Serve yt website with gunicorn
After=network.target

[Service]
User=yt
Group=www-data
WorkingDirectory=/var/www/yt/
Environment="PATH=/var/www/yt/.venv/bin"
ExecStart=/var/www/yt/.venv/bin/gunicorn --workers 3 --bind unix:/tmp/yt.socket -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
