{% extends "base.html" %}

{% block head %}
<title>yt - Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<ol>
  {% for channel in channels %}
  <li>
    <a href="{{ url_for('main.channel_overview', channel_id=channel.channel_id) }}">
      <img src="{{ channel.profile_pic }}"></img>
      <h3>{{ channel.title }}</h3>
    </a>
    <p>{{ channel.num_videos }}</p>
  </li>
  {% endfor %}
</ol>

{% endblock %}
